1_ARCO_Recepcion (2).json
{
  "name": "1_ARCO_Recepcion",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "arco-cybertrust",
        "authentication": "headerAuth",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -304,
        416
      ],
      "id": "2afc7bb7-df8f-4909-856d-d9bb8666555a",
      "name": "Webhook1",
      "webhookId": "f6588f9f-d9e0-40e9-b3f1-20f01fd91d56",
      "credentials": {
        "httpHeaderAuth": {
          "id": "F3ZCeuyd3C9J1rGi",
          "name": "FastAPI Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  email: \"{{ $json.body.email  }}\",\n  tipo_derecho: \"{{ $json.body.tipo_derecho }}\",\n  mensaje: \"{{ $json.body.mensaje  }}\",\n  fecha_recepcion: \"{{ new Date().toISOString()  }}\",\n  tipo_derecho: \"{{ $json.body.tipo_derecho }}\",\n  estado: \"{{ \"Recibido\" }}\"\n}\n",
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        416
      ],
      "id": "98f6b12e-038c-4c4f-8d0e-10572a1e77b4",
      "name": "Set Principal"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "operation": "search",
        "limit": 1,
        "filterGroupsUi": {
          "filterGroupsValues": [
            {
              "filtersUi": {
                "filterValues": [
                  {
                    "propertyName": "email|string",
                    "value": "={{ $json.email }}"
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "properties": [
            "email",
            "estado_consentimiento_arcop",
            "firstname",
            "lastname"
          ]
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        144,
        416
      ],
      "id": "29692078-0358-4f88-b36f-7d032a9c79fa",
      "name": "Search contacts",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "ywKa725UdLRDb0Nu",
          "name": "Hubspot PRUEBA"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "76d051d0-c04b-4560-94fb-30aab5c62a15",
              "leftValue": "={{ $json.id }}",
              "rightValue": "=",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            },
            {
              "id": "3399a10d-54c5-499b-b019-037a81f29ca2",
              "leftValue": "={{ $json.properties.estado_consentimiento_arcop }}",
              "rightValue": "Aceptado",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        368,
        416
      ],
      "id": "8761b510-c11c-4096-9d2f-e79287769247",
      "name": "If"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json.titular_email }}",
        "subject": "Confirmación de recepción – Solicitud de derechos ARCO",
        "bodyContent": "=<div style=\"font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto; color: #333; line-height: 1.6;\">\n    <div style=\"text-align: center; padding: 20px; background-color: #1e293b;\">\n        <h2 style=\"color: #f8fafc; margin: 0;\">Validación de Identidad | ARCOP</h2>\n    </div>\n    <div style=\"padding: 30px; border: 1px solid #e2e8f0; border-top: none;\">\n        <p>Hola <strong>{{ $('Search contacts').item.json.properties.firstname }}</strong>,</p>\n        <p>Hemos recibido tu solicitud para ejercer tu derecho de <span style=\"color: #0ea5e9; font-weight: bold;\">{{ $('Set Principal').item.json.tipo_derecho }}</span>.</p>\n        \n        <div style=\"background-color: #f8fafc; padding: 20px; border-radius: 8px; margin-top: 20px; border: 1px dashed #cbd5e1; text-align: center;\">\n            <p style=\"margin-top: 0; font-size: 14px; color: #475569;\">Para proteger tu privacidad y procesar la solicitud, utiliza este código de seguridad:</p>\n            <h2 style=\"color: #1e293b; letter-spacing: 5px; background: #e2e8f0; padding: 12px 20px; display: inline-block; border-radius: 6px; margin: 10px 0;\">{{ $('Generar OTP').item.json.otp_code }}</h2>\n            <p style=\"margin-bottom: 0; font-size: 13px; color: #ef4444; font-weight: bold;\">Este código expira en 10 minutos.</p>\n        </div>\n        \n        <div style=\"text-align: center; margin-top: 30px;\">\n            <p style=\"font-size: 14px; color: #475569; margin-bottom: 15px;\">Haz clic en el botón para ir a la pantalla de validación. Tu correo y ticket ya están vinculados de forma segura.</p>\n            \n            <a href=\"https://pepelagos.app.n8n.cloud/webhook/portal-mfa?ticket={{ $json.id }}&email={{ $json.titular_email }}\" style=\"display: inline-block; background-color: #3b82f6; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; font-weight: bold;\">\n                Ingresar mi Código\n            </a>\n        </div>\n\n        <p style=\"margin-top: 30px; font-size: 14px; color: #1e293b; border-top: 1px solid #e2e8f0; padding-top: 15px;\">\n            Una vez validado, su ticket será gestionado por nuestro Delegado de Protección de Datos.<br><br>\n            Saludos,<br>\n            <strong>El equipo de Privacidad de Cybertrust</strong>\n        </p>\n    </div>\n</div>",
        "additionalFields": {
          "bodyContentType": "html"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1264,
        320
      ],
      "id": "7f76519a-0212-4712-8b70-c50de42f8828",
      "name": "Recepcion hacia Cliente",
      "webhookId": "df27baa1-9084-4d8d-a567-4478c25abc2f",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "wDkb1DxjerXAygfH",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Generamos un código aleatorio de 6 dígitos\nconst otp = Math.floor(100000 + Math.random() * 900000).toString();\n\n// Pasamos todos los datos del cliente (HubSpot) y de la solicitud (Webhook) hacia adelante\n// MÁS el nuevo código OTP secreto.\nreturn {\n  json: {\n    ...$input.item.json, // Mantiene la info del cliente de HubSpot\n    email: $('Set Principal').item.json.email,\n    mensaje: $('Set Principal').item.json.mensaje,\n    fecha_recepcion: $('Set Principal').item.json.fecha_recepcion,\n    otp_code: otp,\n    tipo_derecho: $('Set Principal').item.json.tipo_derecho,\n    estado: \"Recibido\" \n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        320
      ],
      "id": "9cb70751-6f1b-4d8c-bf62-61089ca0752b",
      "name": "Generar OTP"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \n  \"status\": \"mfa_required\",\n  \"ticket_id\": \"{{ $('Insert rows in a table').item.json.id }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1488,
        320
      ],
      "id": "293b81ce-44f2-40e0-ab48-aa97f3a54d23",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "solicitudes_arco",
          "mode": "list",
          "cachedResultName": "solicitudes_arco"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "tipo_derecho": "={{ $('Set Principal').item.json.tipo_derecho }}",
            "titular_nombre": "={{ $('Search contacts').item.json.properties.firstname }} {{ $('Search contacts').item.json.properties.lastname }}",
            "titular_email": "={{ $('Search contacts').item.json.properties.email }}",
            "estado": "Recibido",
            "fecha_recepcion": "={{ $now.toISO() }}",
            "fecha_vencimiento": "={{ null }}",
            "fecha_respuesta": "={{ null }}",
            "mensaje": "={{ $('Set Principal').item.json.mensaje }}",
            "codigo_otp_hash": "={{ $json.codigo_otp_hash }}",
            "otp_expiracion": "={{ $now.plus({ minutes: 10 }).toISO() }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "titular_nombre",
              "displayName": "titular_nombre",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "titular_email",
              "displayName": "titular_email",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "tipo_derecho",
              "displayName": "tipo_derecho",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_recepcion",
              "displayName": "fecha_recepcion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_vencimiento",
              "displayName": "fecha_vencimiento",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "fecha_respuesta",
              "displayName": "fecha_respuesta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "mensaje",
              "displayName": "mensaje",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "codigo_otp_hash",
              "displayName": "codigo_otp_hash",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "otp_expiracion",
              "displayName": "otp_expiracion",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1040,
        320
      ],
      "id": "e42b9601-1db6-4796-a17e-3636a9d15b07",
      "name": "Insert rows in a table",
      "credentials": {
        "postgres": {
          "id": "MyWCMkgD8DPjDLw8",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "value": "={{ $json.otp_code }}",
        "dataPropertyName": "codigo_otp_hash"
      },
      "type": "n8n-nodes-base.crypto",
      "typeVersion": 2,
      "position": [
        816,
        320
      ],
      "id": "fe20551e-5116-4495-87bb-55aef38951e3",
      "name": "Crypto"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"consentimiento_requerido\",\n  \"message\": \"Para poder procesar tu solicitud de derechos ARCOP bajo la Ley 21.719, primero debes autorizar el tratamiento de tus datos. Te hemos enviado un correo seguro para realizar este paso. Una vez aceptado, podrás ingresar tu solicitud.\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        816,
        512
      ],
      "id": "9a3e21f7-3065-4ef3-b563-e063dc11c5e1",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://pepelagos.app.n8n.cloud/webhook/peticion-consentimiento-individual",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "={{ $('Set Principal').item.json.email }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        592,
        512
      ],
      "id": "9029f24f-5a23-4e63-9592-6825d121f5fc",
      "name": "HTTP Request"
    }
  ],
  "pinData": {
    "Webhook1": [
      {
        "json": {
          "headers": {
            "host": "pepelagos.app.n8n.cloud",
            "user-agent": "python-httpx/0.28.1",
            "content-length": "184",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "authorization": "Bearer fwfFPpOFn9xoArTBFURj",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "74.220.48.23",
            "cf-ew-via": "15",
            "cf-ipcountry": "US",
            "cf-ray": "9ebcfe20289aff17-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "x-forwarded-for": "74.220.48.23, 172.68.175.71",
            "x-forwarded-host": "pepelagos.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-86-846d9c6d66-f7gpm",
            "x-is-trusted": "yes",
            "x-real-ip": "74.220.48.23"
          },
          "params": {},
          "query": {},
          "body": {
            "email": "jorge.soto@latam.com",
            "tipo_derecho": "Rectificación",
            "mensaje": "Eliminen mis datos de su base de datos ya que los datos que tienen",
            "timestamp": "2026-04-13T19:49:11.996903"
          },
          "webhookUrl": "https://pepelagos.app.n8n.cloud/webhook/arco-cybertrust",
          "executionMode": "production"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Webhook1": {
      "main": [
        [
          {
            "node": "Set Principal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Principal": {
      "main": [
        [
          {
            "node": "Search contacts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search contacts": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Generar OTP",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recepcion hacia Cliente": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar OTP": {
      "main": [
        [
          {
            "node": "Crypto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crypto": {
      "main": [
        [
          {
            "node": "Insert rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert rows in a table": {
      "main": [
        [
          {
            "node": "Recepcion hacia Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "72c8c182-18ce-436d-b7e9-2a38e29391c5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2ec5aa847d230c5e87ba094ec1dd11d4c32e812f2ec29fad1c64be8295af02e5"
  },
  "id": "cTC4cGdt2ryVJd7C",
  "tags": []
}